<!DOCTYPE html>
<html>
	<head>
		<title>Страница со ссылками</title>
	</head>
	<body>
	<div>
		<h1><center><a href="">Страница со ссылками</a></h1></div></center></h1>
	</div>

	<div>
		<h2><a href="">Новость первая</a></h2>
		<p>Краткое содержание новости</p>
		<p>Опубликовано: 15.02.2016, 19:38</p>
	</div>

	<div>
		<h2><a href="">Новость вторая</a></h2>
		<p>Краткое содержание новости</p>
		<p>Опубликовано: 15.02.2016, 19:39</p>
	</div>

		<p><center><h2>Работает!</h2></center></p>
	</body>
</html>
